DB_NAME=radcoringa
DB_USER=root
DB_PASSWORD=radcoringa
DB_HOST=mariadb
DB_PORT=3306
BILLING_API_TOKEN=LYFpMvgYXMLCHj3kKyHpaAEWwLzxqVTPUrsENjobeJFCizMHKd
SECRET_KEY=ANbsY3HW9C9WtRuuCbC4ncUywTEyskfE4LpTemHocCHduVnRWeexuWJpsFyFbNLCvWq9XpJvjTdxR9yxpsCpjR4uzkAjsAWdLPed