{% extends 'coringa/base.html' %}
{% block title%}RADCoringa - Página inicial{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h2 class="h4">Total usuários: <span class="badge bg-secondary">{{ total }}</span></h2>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th>Nome</th>
                        <th>Data expiração</th>
                        <th>Resposável cadastro</th>
                        <th>Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.data_expiracao }}</td>
                        <td>{{ cliente.responsavel_cadastro }}</td>
                        <td><span class="badge 
                            {% if cliente.status == 'ativo' %}
                                bg-success
                            {% elif cliente.status == 'inativo' %}
                                bg-danger
                            {% else %}
                                bg-warning
                            {% endif %}">{{ cliente.status }}</span></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary" aria-current="page">Detalhes</a>
                                <a href="editar/{{cliente.id }}" class="btn btn-warning">Editar</a>
                                <a href="desativar/{{cliente.id }}" class="btn btn-danger"
                                    onclick="return confirm('Tem certeza que deseja desativar este cliente?');">Desativar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}