<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">{{ user }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
            <div class="d-flex flex-column flex-lg-row ms-auto gap-2 align-items-stretch align-items-lg-center mt-3 mt-lg-0">
                
                <a href="/" class="btn btn-outline-light btn-sm">Início</a>
                <a href="/cadastro" class="btn btn-primary btn-sm text-nowrap">Cadastrar novo</a>
                <a href="{% url 'historico' %}" class="btn btn-outline-light btn-sm">Histórico</a>
                <a href="{% url 'logs_aaa' %}" class="btn btn-outline-light btn-sm">Logs autenticação</a>
                
                <div class="vr mx-2 text-white opacity-50 d-none d-lg-block"></div>

                
                <form action="{% url 'logout' %}" method="post" class="d-inline w-100 w-lg-auto">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm w-100">Sair</button>
                </form>
  
                
            </div>
        </div>
    </div>
</nav>
